{% extends "base.html" %}

{% block title %}Menú Principal{% endblock %}

{% block content %}
<header class="text-center text-3xl text-white font-bold py-6">Jira Voice Project Manager</header>

<section class="grid grid-cols-1 md:grid-cols-2 gap-8 py-6" id="modeSelection">
    <!-- Modo Reunión -->
    <div id="reunionMode" class="flex flex-col items-center justify-center">
        <a href="{{ url_for('modo_reunion') }}" class="cursor-pointer text-center">
            <i class="fas fa-users text-white text-6xl mb-4"></i>
            <p class="text-white font-semibold">Modo Reunión</p>
        </a>
    </div>
    <!-- Modo de Comandos -->
    <div id="commandsMode" class="flex flex-col items-center justify-center">
        <a href="{{ url_for('modo_comandos') }}" class="cursor-pointer text-center">
            <i class="fas fa-comments text-white text-6xl mb-4"></i>
            <p class="text-white font-semibold">Instrucciones Directas</p>
        </a>
    </div>
</section>
{% endblock %}
